aside {
    float: left;
    margin: 0 1.5%;
    width: 25%;
}
section {
  float: left;
}


.midde {
    float: left;
    width: 100px;
    padding-bottom: 1.5em;
}
.figures{
	font-size:25px;
}