/* the styles for the html elements */
body{
    background-color: white;
}
aside {
    float: right;
    width: 500px;
}
section {
    float: left;
    width: 500px;
}
.ratings {
    float: right;

}
br {
    clear: left;
}
table {
    border-collapse: collapse;
}
/* the styles for classes */

.right {
    text-align: right;
}
.center-text {
    text-align: center;
}
.tab {
    padding-left:15em;
}
.figures{
    font-size:25px;
}